* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav {
    background-color: rgb(41, 39, 39);
}

.header {
    text-align: center;
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
    color: rgb(58, 245, 98);
    font-style: italic;
    font-size: 45px;
    align-self: stretch;
    padding: 15px;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}
.navButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-size: larger;
    transition: transform 0.5s;
}

.navButton:hover {
    color: rgb(182, 247, 182);
    transform: translateY(-3px);
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    background-image: url(./images/homeBackground.png);
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
}

.introduction {
    width: 500px;
    text-align: center;
    font-size: large;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 15px 30px;
    border-radius: 8px;
}
.logo {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}

.menu {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-color: antiquewhite;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menuContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menuImg {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 5px solid rgb(207, 231, 72);
}

.menuDiv {
    width: 570px;
}
.menuHeader {
    margin-bottom: 20px;
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0, 0.5);
    background-image: url(./images/backgroundClipText.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.menuDesc {
    font-size: large;
}

.contact {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(192, 192, 192);
}
.contactDiv {
    border: 2px solid RGB(173, 216, 230);
    padding: 10px;
    background-color: white;
}
.contactDetails {
    white-space: pre-wrap;
    font-size: 25px;
    line-height: 2;
}
.hoursDiv {
    border: 2px solid RGB(173, 216, 230);
    text-align: center;
    padding: 20px;
    background-color: white;
}
.hoursHeader {
    padding: 0;
    margin: 0;
    text-decoration: underline;
    font-size: 35px;
}
.hours {
    text-align: center;
    font-size: 25px;
    line-height: 2;
}
.footer {
    margin-top: auto;
    height: 30px;
    background-color: rgb(41, 39, 39);
}
